.top-container {
  background-color: #222831;
  color: white;
  width: 100%;
  display: block;

  /* background-color: darkgoldenrod;
    padding: 0%;
    margin: 0%;
    width: 200px;
    height: 500px; */
}

.middle-container {
    display: block;
  background-color: #ffd369;
  color: black;
  width: 100%;
  line-height: 3;
}

.bottom-container {
  background-color: #3f0071;
  color: white;
  width: 100%;
  display: block;
  padding-top: 3%;
  
}

h1 {
  text-shadow: 4px 2px 0px #393e46;
  color: #39ff14;
  font-size: 5.625rem;
  margin: auto;
}

h2 {
  text-shadow: 4px 2px 0px black;
  color: #eeeeee;
  -webkit-text-stroke: 0.5px black;
  font-size: 2.5rem;
  padding-top: 2%;
  padding-bottom: 2%;
}

h3 {
  color: black;
  text-align: center;
}

a {
  color: #11999e;
}

.pro {
  font-weight: normal;
}
span.pro {
  text-decoration: underline;
}

body {
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

hr {
  color: #393e46;
  text-shadow: 4px 2px 0px #393e46;
  border-style: dotted;
  border-width: 8px;
  width: 40px;
  border-top: 0px;
}

.top-cloud {
  position: relative;
  left: 250px;

  padding-top: 10%;
  padding-bottom: 3.4%;
}
.bottom-cloud {
  position: relative;
  right: 250px;

  padding-top: 3%;
  padding-bottom: 3.4%;
}

.top-mountain {
  display: block;
  position: relative;
  margin: auto;
}
.intro-p {
  text-align: justify;
  padding: 5% 30% 5% 30%;
}
.intro-img {
  width: 15%;
  border-radius: 100%;
}
.skill-row {
  width: 50%;
  margin: auto;
}
.skill-h3-programming {
  text-align: left;
}

.skill-img-programming {
  float: left;
  width: 20%;
  margin: 8%;
  border-radius: 100%;
}

.skill-p-programming {
  text-align: justify;
}

.skill-h3-gaming {
  text-align: justify;
}

.skill-img-gaming {
  float: right;
  width: 20%;
  margin: 8%;
}

.skill-p-gaming {
  text-align: justify;
}

.contact-me {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
input {
  border: none;
  box-shadow: 4px 2px 10px black;
}

textarea {
  border: none;
  box-shadow: 8px 4px 10px black;
}

.copyright {
    margin: 0;
    padding-bottom: 3%;
}